
*{
    background-color: #E2D2F3;
    margin-top: 3%;
    margin-left: 2%;
}

.button {
    display: flex;
    align-items: center;
    color: #ffffff;
    transition: 0.5s all;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;    
}

@media(min-width:1024px){
    .button{
      font-size: 98px;
      background-color: purple;
      
    }
  
}

@media(min-width:768px){
    .button{
        font-size: 18px;
        background-color: violet;
        
      }
}
  